# 🔒 GCS credentials
service-account.json
gcs-credentials.json

# 🐍 Python bytecode
__pycache__/
*.py[cod]

# 🧪 Test files
*.log
*.pot

# 📦 Python environment
env/
venv/
ENV/
*.env

# 🗃️ Django DB
db.sqlite3

# 💻 Editor/IDE config
.vscode/
.idea/

# 🧾 Mac/Windows junk
.DS_Store
Thumbs.db

# 📂 Static/media files (optional if storing locally)
staticfiles/
media/

# 🚀 Deployment settings
*.local
*.pid

# 📁 PyInstaller build
dist/
build/
*.spec
